h4{
    color: rgb(122, 56, 9);
    font-size: 50px;
}


         .heading1{
            color: crimson;
            font-family: 'Courier New', Courier, monospace;
            font-size: 60px;
        }
        .heading2{
            color: green;
            font-size: 50px;
        }
        .heading3{
            color: yellow;
            font-size: 40px;
        }

        #heading1{
            color:blue;
            font-size: 70px;
        }
        #heading2{
            color: aqua;
            font-size: 50px;
        }
        #heading4{
            color: blueviolet;
            font-size: 45px;
        }
        #heading5{
            color: chocolate;
            font-size: 70px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #heading6{
            color:dark palevioletred;
            font-size: 80px;
        }
        .heading_f_size{
            font-size: 60px;
        }
        .h_color1{
            color: red;
        }
        .h_color2{
            color: green;
        }
        .h_color3{
            color: blue;
        }
        .t_transfrom_lowercase{
            text-transform: lowercase;
            color: blue;
        }
        .t_transfrom_uppercase{
            text-transform: uppercase;
            color: darkmagenta;
        }
        .t_transfrom_captialize{
            text-transform: capitalize;
            color: chartreuse;
        }
        .t_aling_center{
            text-align: center;
            font-size: 50px;
            color: red;
        }
        .t_aling_right{
            text-align: right;
            font-size: 40px;
            color: cyan;
        }
        .t_decoation_overline{
            text-decoration: overline;
            color: burlywood;
        }
        .t_decoation_linethrough{
            text-decoration: line-through;
            color: cornflowerblue;
        }
        .t_decoation_underline{
            text-decoration: underline;
        }
        .t_indent{
            text-indent: 70px;
            color: aqua;
        }
        .t_word_space{
            word-spacing: 40px;
            color: darkcyan;
        }
        .t_letter_space{
            letter-spacing: 50px;
            color: blueviolet;
        }
        .line_height{
            line-height: 80px;
            color: blue;
        }
            .heading_f_size4{
                color: aquamarine;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 70px;
            }
        
      .t_shadow{
        color: red;
        font-size: 120px;
        text-align: center;
        text-shadow: 6px 7px 15px black;
      }  
      
      .b_shadow{
        width: 500px;
        height: 400px;
        box-shadow: 20px 25px 30px purple;
    
      }

      .d_shadow{
         width: 500px;
        height: 400px;
        filter: drop-shadow( 10px 12px 18px rgb(231, 231, 5));
        color: orange;

      }
   /*  solid, dashaes dotted double inset outset */

      .br_properties{
        border:15px solid black ;
      }

      .br_properties{
        border:20px dashed black ;
      }
     
      .br_properties2{
        border-radius: 10%;
        border-left-color: red ;
        border: 50px solid black;
      }
      .box_model{
        border: 10px solid red;
        padding: 30px;
        margin: 50px;
      }

      .font_family1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: darkred;
      }
      .font_family2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: crimson;
      }
      .font_family3{
        font-family: monospace;
        font-size: 50px;
        color: green;
    }
    .font_family4{
        font-family: fantasy;
        font-size: 50px;
        color: blue;
    }
    .font_family5{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        color: darkmagenta;
    }
    .font_propreties{
        font-weight: 600;
        font-style: italic;
        font-size: 80px;
        color: deeppink;
    }

    .box{
        width: 200px;
        height: 150px;
        border: 5px solid black;
        padding: 50px;
        background-color: bisque;
        margin: 50px;
    }
    .box1{
        position: static;
    }
    .box2{
        position: relative;
        left:250px;
        top: 50px;
    }
    .box3{
         position:absolute;
        left:300px;
        top: 20px;
    }
    .box4{
        position: sticky;
        top: 10px;
    }
    .box5{
        position: fixed;
        bottom: 5px;
        right: 10px;
    }
    .flex-items{
        width: 150px;
        height: 200px;
        background-color: orange;
        border: 15px solid green;
        border-radius: 15px;
        margin: 30px;
        color: black;
        font-size: 40px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

.bg_image{
    background-color: yellow;
    background-image: url(../images/leaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: darkgreen;
}

h1:hover{
    color: darkblue;
    background-color: aqua;
    font-size: 80px;
    text-shadow: 8px 6px 10px red;
}
.h2_hover:hover{
    color: red;
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}
 h4:hover{
     background-color:black;

 }
   

h3:active{
    color: green;
    font-size: 50px;
    cursor: pointer;
}
input:focus{
    background-color: black;
    color: azure;
    border: 10px solid plum;
}
a:visited{
    color: darkmagenta;
}
p::first-letter{
    color: darkorange;
    font-size: 50px;
}
    p::first-line{
        color: chartreuse;
    }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 30px;
}
.b-transform{
    background-color: blue;
    border: 5px solid black;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 50px;
    transition: transform 5s ease-in;
}
.box-1:hover{
    transform: translate(125px,125px);
}
.box-2:hover{
    transform: translateX(125px);
}
.box-3:hover{
    transform: translateY(125px);
}
.box-4:hover{
    transform: rotate(380deg);
    background-color: aqua;
}
.box-5:hover{
    transform: skewY(40deg);
}
.box-6:hover{
    transform: scale(1.3);
}
.box-7:hover{
    transform: rotate(380deg)
    scale(1)
    translateX(200px);
}

/* Simple_animation */

/* div{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    border-radius: 20px;
    animation: movingbox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
}
@keyframes movingbox{
    0%{background-color: red;left:0px; top:0px}
        25%{background-color: green; left:300px; top:0px; }
            50%{background-color: blue; left:300px; top:300px; }
                 75%{background-color: yellow; left:0px; top:300px; }
                     100%{background-color: red; left:0px; top:0px; }
} */
.bg_image2{
    background-color: yellow;
    background-image: url(../images/flower-10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* nth_child */
ul{
    width: 200px;
    padding: 30px;
    list-style-type: none;
}
li{
    padding: 10px;
    border: 5px solid red;
    margin-bottom: 10px;
    border-radius: 5px;
}
li:nth-child(even){
    background-color:darkblue;
    color: azure;
}
li:nth-child(odd){
    background-color:lightskyblue;
}
/* text_animation */
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
    font-weight: 800;
    perspective: 50px;
}

.text-container >b{
    height: 90px;
    box-shadow: 0px 20px 10px gray;
    background-color: darkorange;
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    animation: getUpDown 7s infinite;
}

.text-container >b:nth-child(1){
    animation-delay: 1s;
}
.text-container >b:nth-child(2){
    animation-delay: 0.14s;
}
.text-container >b:nth-child(3){
    animation-delay: 0.30s;
}
.text-container >b:nth-child(4){
    animation-delay: 0.45;
}
.text-container >b:nth-child(5){
    animation-delay: 0.58s;
}
.text-container >b:nth-child(6){
    animation-delay: 0.75s;
}
.text-container >b:nth-child(7){
    animation-delay: 1s;
}
@keyframes getUpDown{
    from{transform: rotateX(-85deg);}
    10%,50%{transform: rotateX(0);}
    60%,to{transform: rotateX(-85deg);}
}




